@model UploadRequest

@{
    ViewData["Title"] = "アップロード";
}

<h2>アップロード</h2>

<h4>書類・画像ファイルをアップロードしてください</h4>
<p><small>50 MB 以下ならば複数のファイルをアップロードできます。</small></p>
<hr />

<div class="row">
    <div class="col-md-6">
        <form action="@Url.UploadFile(Model.DirPath)" method="POST" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DirPath" class="control-label"></label>
                @if (string.IsNullOrEmpty(Model.DirPath)) {
                    <span class="form-control-plaintext">TOP ディレクトリ</span>
                    <input type="hidden" asp-for="DirPath" />
                } else {
                    <input asp-for="DirPath" class="form-control-plaintext" readonly />
                }
                <span asp-validation-for="DirPath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Files" class="control-label"></label>
                <input asp-for="Files" class="form-control-file" />
                <span asp-validation-for="Files" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">アップロード</button>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
