<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="docmssync.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <applicationSettings>
    <docmssync.Properties.Settings>
      <setting name="WatchPath" serializeAs="String">
        <value>C:\temp\Images</value>
      </setting>
      <setting name="ServerUrl" serializeAs="String">
        <value>http://localhost:51693</value>
      </setting>
      <setting name="UploadClientId" serializeAs="String">
        <value>53140a5b-4b21-48d8-a38f-a0c880e23b93</value>
      </setting>
      <setting name="UploadUserName" serializeAs="String">
        <value>testuser</value>
      </setting>
      <setting name="UploadUserPassword" serializeAs="String">
        <value>Passw0rd</value>
      </setting>
    </docmssync.Properties.Settings>
  </applicationSettings>
</configuration>