<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Docms.Uploader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Docms.Uploader.Properties.Settings>
            <setting name="UserId" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="PasswordHash" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="DirectoryToWatch" serializeAs="String">
                <value>C:\Temp\Images</value>
            </setting>
        </Docms.Uploader.Properties.Settings>
    </userSettings>
</configuration>