@model AddTagsViewModel

@{
    ViewData["Title"] = Model.FileName + " タグの追加";

    var tags = ViewData["Tags"] as IEnumerable<Docms.Web.Data.Tag>;
}

<h2>@Model.FileName</h2>

<h4>タグを追加する</h4>
<div class="row">
    <div class="col-md-6">
        <hr />
        <form asp-action="AddTags">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Tags" class="control-label"></label>
                <input asp-for="Tags" class="form-control" list="tags-list" />
                <datalist id="tags-list">
                    @foreach (var item in tags)
                    {
                        <option value="@item.Name">@item.Name</option>
                    }
                </datalist>
                <span asp-validation-for="Tags" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">追加</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Details" asp-route-id="@Model.Id">詳細に戻る</a>
</div>

