<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - 文書管理システム</title>

    <link rel="stylesheet" href="~/lib/css/bootstrap.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/css/font-awesome.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">文書管理システム</a>
            <button class="navbar-toggler d-sm-none" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse py-3 py-sm-0 d-sm-flex justify-content-end" id="navbarToggler">
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - Docms.Web</p>
        </footer>
    </div>

    <script src="~/lib/jquery.js" asp-append-version="true"></script>
    <script src="~/lib/umd/popper.js" asp-append-version="true"></script>
    <script src="~/lib/js/bootstrap.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
