@{
    ViewData["Title"] = "エラー";
}

<h1 class="text-danger">エラー</h1>
<h2 class="text-danger">処理中にエラーが発生しました。</h2>

@if (!string.IsNullOrEmpty((string)ViewData["RequestId"]))
{
    <p>
        <strong>リクエストID:</strong> <code>@ViewData["RequestId"]</code>
    </p>
}
