@model Docms.Web.IdentityServer.RedirectViewModel

<h1>アプリケーションに戻ります</h1>
<p>完了したら、このページを閉じてください。</p>

<meta http-equiv="refresh" content="0;url=@Model.RedirectUrl" data-url="@Model.RedirectUrl">
<script>
    window.location.href = document.querySelector("meta[http-equiv=refresh]").getAttribute("data-url");
</script>
