@model AddFavoritesViewModel

@{
    ViewData["Title"] = @Model.UserName + " さんのお気に入り";
}

<h2>@Model.UserName</h2>

<h4>以下の @Model.TypeName をお気に入りに追加します</h4>
<div class="row">
    <div class="col-md-6">
        <hr />
        <form asp-action="AddFavorites">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Type" />
            <input type="hidden" asp-for="DataId" />
            <div class="form-group">
                <label asp-for="DataName" class="control-label"></label>
                <input asp-for="DataName" class="form-control-plaintext" readonly />
                <span asp-validation-for="DataName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">追加</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">戻る</a>
</div>

