@model Docms.Web.Data.Tag

@{
    ViewData["Title"] = "タグ: " + Model.Name + " 削除";
}

<h2>@Model.Name</h2>

<h4>本当に削除してよろしいですか？</h4>
<div class="row">
    <div class="col-md-6">
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
        </dl>
        
        <form asp-action="Delete">
            <div class="form-group">
                <input type="hidden" asp-for="Id" />
                <button type="submit" class="btn btn-danger">削除する</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">一覧に戻る</a>
</div>
