@model IEnumerable<Docms.Web.Data.Tag>

@{
    ViewData["Title"] = "タグの一覧";
}

<h2>タグの一覧</h2>
<hr />

<p>
    <a class="btn btn-success" asp-action="Create">
        <i class="fa fa-plus"></i>
        新規作成
    </a>
</p>
<table class="table table-light border">
    <thead class="thead-light">
        <tr>
            <th class="p-3">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="text-right">
                    <a class="btn btn-sm btn-outline-secondary" asp-action="Details" asp-route-id="@item.Id">
                        <i class="fa fa-info-circle"></i>
                        <span class="d-none d-sm-inline">詳細</span>
                    </a>
                    <a class="btn btn-sm btn-outline-secondary" asp-action="Delete" asp-route-id="@item.Id">
                        <i class="fa fa-trash"></i>
                        <span class="d-none d-sm-inline">削除</span>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
