@model Docms.Web.IdentityServer.LoginViewModel

@{
    ViewData["Title"] = "ログイン";
}

<div class="login-page">
    <h1 class="login-title">ログインしてください</h1>

    <div class="row">
        @if (Model.EnableLocalLogin)
        {
            <div class="col-sm-push-4 col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form asp-route="Login">
                            <input type="hidden" asp-for="ReturnUrl" />
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="ユーザー名" asp-for="Username" autofocus>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="パスワード" asp-for="Password" autocomplete="off">
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary btn-block" name="button" value="login">ログイン</button>
                                </div>
                                @if (Model.AllowRememberLogin)
                                {
                                    <div class="form-group login-remember text-right">
                                        <label asp-for="RememberLogin">
                                            <input asp-for="RememberLogin">
                                            <strong>ログイン状態を保存する</strong>
                                        </label>
                                    </div>
                                }
                            </fieldset>
                        </form>
                    </div>
                </div>
                @Html.Partial("_ValidationSummary")
            </div>
        }
    </div>
</div>