@model Docms.Web.IdentityServer.LogoutViewModel

@{
    ViewData["Title"] = "ログアウト";
}

<div class="logout-page">
    <div class="page-header">
        <h1>ログアウト</h1>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <p>ログアウトしてよろしいですか？</p>
            <form asp-action="Logout">
                <input type="hidden" name="logoutId" value="@Model.LogoutId"  />
                <fieldset>
                    <div class="form-group">
                        <button class="btn btn-primary">はい</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>