@model Docms.Web.Data.TagSearchTag

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>TagSearchTag</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TagSearchCategoryId" />
            <input type="hidden" asp-for="TagId" />
            <div class="form-group">
                <label asp-for="Seq" class="control-label"></label>
                <input asp-for="Seq" class="form-control" />
                <span asp-validation-for="Seq" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

