@{
    ViewData["Title"] = "設定";
}

<nav>
    <ul>
        <li>
            <a asp-controller="Tags" asp-action="Index">タグ設定</a>
        </li>
        <li>
            <a asp-controller="TagGroups" asp-action="Index">タググループ設定</a>
        </li>
        <li>
            <a asp-controller="TagGroupTags" asp-action="Index">タググループ内タグ設定</a>
        </li>
        <li>
            <a asp-controller="TagSearchCategories" asp-action="Index">検索カテゴリー設定</a>
        </li>
        <li>
            <a asp-controller="TagSearchTags" asp-action="Index">検索カテゴリー内タグ設定</a>
        </li>
    </ul>
</nav>