
@{
    ViewData["Title"] = "管理メニュー";
}

@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <div class="alert alert-success">
        @ViewBag.Message
    </div>
}

<h2>管理メニュー</h2>
<hr />

<ul>
    <li>
        <a asp-action="ResetHistory">リセット</a>
    </li>
    <li>
        <a asp-action="ListDevices">端末管理</a>
    </li>
    <li>
        <a asp-action="ListClients">クライアント管理</a>
    </li>
</ul>

