body {
    padding-top: 70px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

@media screen and (min-width: 768px) {
    .card-img-container {
        height: 280px;
    }
    .card-img-top {
        max-height: 280px;
        width: auto;
    }
}
