body {
    padding-top: 60px;
}

.main-nav li .glyphicon {
    margin-right: 10px;
}

/* Highlighting rules for nav menu items */
.main-nav li a.active,
.main-nav li a.active:hover,
.main-nav li a.active:focus {
    background-color: #4189C7;
    color: white;
}

@media (min-width: 768px) {
    .main-nav .navbar {
        border-radius: 0px;
        border-width: 0px;
    }
    .main-nav .navbar-collapse {
        border-top: 1px solid #444;
        padding: 0px;
    }
    .main-nav .navbar li {
        font-size: 15px;
        margin: 6px;
    }
    .main-nav .navbar li a {
        padding: 10px 16px;
        border-radius: 4px;
    }
}

/* ログインページ */
.login-title {
    text-align: center;
    margin: 1em;
}
.login-remember {
    font-size: 90%;
}

/* ログアウトページ */
.logout-title {
    text-align: center;
    margin: 1em;
}
