@model TagSelectionsViewModel

@{
    var searchTags = ViewData["SearchTags"] as IEnumerable<SearchTagViewModel>;
}

<form asp-action="Index" asp-controller="Search" method="get">
    <div class="card mb-2">
        <div class="card-body p-3">
            @foreach (var panel in Model.Panels)
            {
                <h5 class="card-title" type="button" data-toggle="collapse" data-target="#collapse-@panel.Title" aria-expanded="true" aria-controls="collapseOne">@panel.Title</h5>
                <div id="collapse-@panel.Title" class="collapse show pb-3">
                    @foreach (var tag in panel.Tags)
                    {
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="t" value="@tag.Id" id="check-@tag.Id" @if(searchTags.Any(st => st.Id == tag.Id)) { <text>checked</text> }>
                            <label class="form-check-label" for="check-@tag.Id">
                                @tag.Name
                            </label>
                        </div>
                    }
                </div>
            }
            <button type="submit" class="btn btn-success">検索</button>
        </div>
    </div>
</form>