@model Docms.Web.Models.SearchResultViewModel

@{
    ViewData["Title"] = "検索";
}

<h2>検索</h2>
<hr />
<div class="row">
    <div class="col-sm-4">

    </div>
    <div class="col-sm-8">
        <div class="row">
            @foreach (var document in Model.Results)
            {
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" alt="@document.FileName" src="@document.ThumbnailUri" data-holder-rendered="true">
                    <div class="card-body">
                        <p class="card-text">@document.FileName</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a asp-action="Details" asp-controller="Documents" asp-route-id="@document.Id" class="btn btn-sm btn-outline-secondary">詳細</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
